*{
  margin:0px;
  padding:0px;
}

#nav-bar{
  display: flex;
  flex-direction: row;
  height: 8vh;
  position:relative;
  border-bottom: 1px solid black;
}

#logo{
  color: royalblue;
    align-self: center;
    font-family: system-ui;
    margin-left: 1vw;
}

#chart{
  width: 1px;
  height: 5px;
}

#right-nav{
  position: absolute;
  right: 4vw;
  top: 2vh;
}

.link{
  font-size: 1.6rem;
    text-decoration: none;
    color: black;
    margin: 3vw;
    font-family: sans-serif;
    font-weight: bold;
}

.link:hover{
  color:royalblue;
  border-bottom: 3px solid royalblue;
  text-decoration: none;
}

.select{
  color:royalblue;
  border-bottom: 3px solid royalblue;
}

#container{
  height: 84vh;
  background-image: linear-gradient(to bottom,royalblue,white);
}

#cards{
  display: flex;
  width: 80vw;
  margin: auto;
  position: relative;
  top: 10vh;
  flex-wrap:wrap;
}

#card,#card-mid,#card-right{
  height: 25vh;
    width: 24vw;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 20px black;
    margin: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bolder;
    font-family: sans-serif;
    animation: card 1s;
}

#card-mid{
  animation: card-mid 1s;
}

#card-right{
  animation: card-right 1s;
}

#card:hover,#card-mid:hover,#card-right:hover{
  background-color: royalblue;
  color:white;
  transform: scale(1.1);
  transition-property: all;
  transition-duration: 1s;
}

@keyframes card{
  0%{
    transform:translateX(-100px);
    opacity: .5;
  }

  100%{
    transform: translate(0px);
  }
}

@keyframes card-mid{
  0%{
    transform:translateY(-100px);
    opacity: .5;
  }

  100%{
    transform: translate(0px);
  }
}

@keyframes card-right{
  0%{
    transform:translateX(100px);
    opacity: .5;
  }

  100%{
    transform: translate(0px);
  }
}

#footer{
  display: flex;
  justify-content: center;
  align-content: center;
    font-size: 20px;
    height: 6vh;
    align-items: center;
}

.head{
  font-size:1.4rem;
}

#centre-head{
  text-align: center;
    font-size: 1.75rem;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-shadow: 0px 0px 20px royalblue
}

#slogan{
  color: royalblue;
    display: block;
    margin-left: 20vw;
    margin-top: 1vh;
    font-size: 1.5rem;
    font-family: system-ui;
    text-shadow: 3 14 black;
    text-shadow: 1px 1px 10px royalblue;
}

.tab{
  width:80vw;
  margin: auto;
  height:84vh;
  overflow-y: auto;
}

.death:hover{
  border-radius: 45px;
  background-image: linear-gradient(
341deg
, red, transparent);
}

.data:hover{
  background-image: linear-gradient(
    45deg
    , royalblue, transparent);
        border-radius: 45px;
}

.data-recover:hover{
  background-image: linear-gradient(
    45deg
    , lightgreen, transparent);
        border-radius: 45px;
}

#head{
  background-image: linear-gradient(
    45deg
    , royalblue, transparent);
}

#vaccine-container{
  width: 80vw;
  height: 70vh;
  background-color: white;
  margin: auto;
  margin-top: 10vh;
  box-shadow: 0px 0px 25px black;
  border-radius: 75px;
}

#inner-head{
  text-align: center;
    text-decoration: underline;
    font-size: 2rem;
    padding-top: 2vh;
    color:royalblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: petite-caps;
}

#input{
    width: 25vw;
    margin-left: 15vw;
    margin-top: 5vh;
    text-align: center;
}

#input:focus-visible{
  border-color: royalblue;
}

#vaccine-head{
  margin-top: 17vh;
    text-align: center;
    text-decoration: underline;
    color: royalblue;
    font-weight: bolder;
    text-shadow: 0px 0px 20px white;
}

#submit{
  margin-left: 5vw;
    width: 9vw;
    background-image: linear-gradient(
45deg
, royalblue, white);
    height: 5vh;
    border-radius: 16px;
}

@media(max-width:1326px){
  #card,#card-mid,#card-right{
    margin:16px;
  }
}

@media(max-width:1244px){
  #card,#card-mid,#card-right{
    margin:13px;
  }

  p{
    font-size: 1.25rem;
  }
}

@media(max-width:986px){
  #card,#card-mid,#card-right{
    margin:8px;
  }
}

@media(max-width:886px){
  p{
    font-size: 1.25rem;
  }
}

@media(max-width:300px){
  #cards{
    width: 78vw;
  }
}

@media(max-width:598px){
  #card,#card-mid,#card-right{
    width: 37vw;
  }
  #container{
    height: 93vh;
  }
  #footer{
    font-size: 16px;
  }
}

@media(max-width:598px){
  #cards{
    width: 92vw;
  }

  p{
    font-size: 17px;
  }
}

@media(max-width:1040px){
  #slogan{
    position: absolute;
    left: 33vw;
    top: 1vh;
  }
}

@media(max-width:750px){
  #slogan{
   font-size: 1.25rem;
  }
  #logo{
    font-size: 1.25rem;
  }
  .link{
    font-size: 1.25rem;
  }
}

@media(max-width:560px){
  #slogan{
    visibility: hidden;
  }
}